.root {
  padding: 20px;
  border: 0px solid black;
  border-radius: 10px;
  background-color: #D0BCFF;
  box-shadow: 2.83px 2.83px 6px black;
  color: #381E72;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 10px;
  position: relative;
  word-wrap: break-word;
}
