.root {
  position: relative;
}
.lottie {
  z-index: 90;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 25%;
  right: 25%;
}
.card:hover {
  background-color: #D0BCFF;
  cursor: pointer;
  color: white;
}
